<!--
    <div>
        <img src="..//../assets/img/cards/0440483e-ca0e-4120-8c50-4c8cd9b965d6.jpg" alt="">
        <img src="..//../assets/img/cards/112c1e67-726f-40b1-ac17-6974127bb9b9.jpg" alt="">
        <img src="..//../assets/img/cards/12cfb892-aac0-4c5b-94af-521852e46d6a.jpg" alt="">
        <img src="..//../assets/img/cards/1b67aa9a-2e4a-45af-ac98-64d6ad15b16c.jpg" alt="">
        <img src="..//../assets/img/cards/2baf70d1-42bb-4437-b551-e5fed5a87abe.jpg" alt="">
        <img src="..//../assets/img/cards/2de9426b-914a-4a06-a3a0-5e6d9d3886f6.jpg" alt="">
        <img src="..//../assets/img/cards/45204234-adfd-45cb-a505-a8e7a676b114.jpg" alt="">
        <img src="..//../assets/img/cards/45db04e4-304a-4933-9823-33f389e8d74d.jpg" alt="">
        <img src="..//../assets/img/cards/578ae244-7750-4d9f-867b-f3cd3d6fecf4.jpg" alt="">
        <img src="..//../assets/img/cards/1b67aa9a-2e4a-45af-ac98-64d6ad15b16c.jpg" alt="">
        <img src="..//../assets/img/cards/2baf70d1-42bb-4437-b551-e5fed5a87abe.jpg" alt="">
        <img src="..//../assets/img/cards/2de9426b-914a-4a06-a3a0-5e6d9d3886f6.jpg" alt="">
    </div>
-->
<div style="width:1000px; margin: 20px auto;">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" style="max-width: 100%;" >
          </div>
          <div class="carousel-caption">    
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" style="max-width: 100%;">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" style="max-width: 100%;">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[3]" alt="Random third slide" style="max-width: 100%;">
            </div>
            <div class="carousel-caption">
            </div>
          </ng-template>
      </ngb-carousel>
</div>
<div class="container-fluid storia mb-5">
    <br><br>
    <h2>Hayao Miyazaki</h2>
    <div class="col-12">
        <div class="row">
            <div class="col-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Hayao_Miyazaki.jpg">
            </div>
            <div class="col-8">
                <p>
                    Hayao Miyazaki 宮崎 駿 Miyazaki Hayao
                    Tokyo, 5 gennaio 1941
                    Hayao Miyazaki è nato a Tokyo, nel 1941. Dopo essersi laureato nel 1963 all’Università di Gakushuin
                    in
                    Scienze Politiche ed Economiche, è entrato a far parte della Toei Animation Company. Come nel caso
                    del
                    suo mentore Isao Takahata, questa scelta è apparsa agli occhi di molti decisamente strana, vista la
                    sua
                    formazione universitaria.
                    Fin da quando era studente, tuttavia, l’interesse di Miyazaki per la letteratura per ragazzi era
                    apparso
                    molto acceso: divorava decine e decine di libri per ragazzi scritti in tutto il mondo ed era un
                    superbo
                    disegnatore.
                    Come animatore, Miyazaki ha lavorato a molte serie televisive e lungometraggi, spesso in
                    collaborazione
                    con Isao Takahata. Tra le serie tv più note, Miyazaki ha diretto The Future Boy Conan (Conan, il
                    Ragazzo
                    del Futuro) nel 1978 e, tra i lungometraggi, The Castle of Cagliostro (Lupin III: Il Castello di
                    Cagliostro) nel 1979. Agli inizi degli anni ’80 Miyazaki ha vissuto a Los Angeles per studiare
                    animazione. Uno dei suoi migliori studenti, nonché amico, di questo periodo è stato John Lasseter,
                    la
                    mente creativa della Pixar Animation, nonché regista di Toy Story, A Bug’s Life e Toy Story 2.
                    In questo periodo Miyazaki ha anche scritto e illustrato la serie grafica di Nausicaa of the Valley
                    of
                    the Wind (Nausicaa della Valle del Vento), molto apprezzata dalla critica. Miyazaki ha fondato lo
                    Studio
                    Ghibli nel 1985 insieme a Takahata e da allora ha diretto otto lungometraggi.
                    Spirited Away (La Città Incantata) ha battuto ogni record al box-office giapponese e ha vinto
                    numerosissimi premi, tra cui l’Orso d’Oro al Festival di Berlino nel 2002 e l’Oscar per il Miglior
                    Film
                    di Animazione nel 2003. Il suo ultimo film, Howl’s Moving Castle (Il Castello Errante di Howl),
                    tratto
                    dal romanzo di Diana Wynne Jones, è stato presentato alla Mostra del Cinema di Venezia in anteprima
                    mondiale e ha ottenuto l’Osella per il Miglior Contributo Tecnico.
                    Sempre la Mostra del Cinema di Venezia gli consegnerà a settembre 2005 il Leone d’Oro alla Carriera,
                    il
                    primo in assoluto destinato a un regista di film di animazione. Miyazaki ha pubblicato anche
                    numerosi
                    libri con poesie e disegni, ha disegnato palazzi, tra cui il Ghibli Museum, nel parco di Mitaka di
                    Tokio.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5">
    <div class="col-12">
        <div class="row">
            <div class="col-7">
                <h4>Visita il nostro museo!</h4>
                <img class="immagine" src="https://www.zingarate.com/pictures/2019/01/15/studio-ghibli-museum.jpeg">
                <div class="mt-2">
                    <button  type="button" class="btn btn-outline-danger">
                        <a href="https://www.ghibli-museum.jp/en/tickets/" target="_blank">Clicca per ordinare il biglietto</a>
                    </button>
                </div>
            </div>
            <div class="col-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.2185965505773!2d139.56824301511182!3d35.696237980190844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ee34e5038c2d%3A0x4de155903f849205!2sMuseo%20Ghibli!5e0!3m2!1sit!2sit!4v1623944396887!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>